
<div class="container">

<div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">

  <table width="100%" class="table">
    <tbody>
      <tr>
        <td rowspan="3" width="70%">
          <div class="col-md-6">
            <div class="img-circle">
              <%= profile_avatar_select(@user) %>
            </div>
          </div>
        </td>
        <td> <%= @user.user_name %></td>
        <td>
          
          <span>
            <% if @user == current_user %>
              <%= link_to 'Edit Profile', edit_profile_path(@user.user_name), class: 'btn btn-xs btn-default' %>
            <% end %>
          </span>

        </td>
      </tr>
      <tr>
        <td colspan="2"> <%= @user.bio %></td>
      </tr>
      <tr>
        <td colspan="2"><%= pluralize @user.posts.count, 'post' %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>



<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
