<h2 class ="text-center">Timeline</h2>

<%= link_to new_post_path, class: "btn btn-default btn-success" do %>
    <i class="material-icons">favorite</i> New Post
<% end %>

<% @posts.each do |post| %>
<div class="container">
	<div class="row">
		<div class="table-responsive">
			<table width="100%" class="table">
				<tbody>
					<tr>
						<td><%= post.title %></td>
						<td><%= time_ago_in_words(post.created_at) %> ago</td>
						<td colspan="4" width="70%"><%= post.user.user_name if post.user %></td>
					</tr>
					<tr>
						<td rowspan="3" colspan="2"><%= link_to (image_tag post.image.url(:small), class: 'img-responsive'), post %></td>
						<th width="17.5%">Rating</th>
						<td width="17.5%"><%= post.rating %></td>
						<th width="17.5%">SAMPLE</th>
						<td width="17.5%">SAMPLE</td>
					</tr>
					<tr>
						<th width="17.5%">Price</th>
						<td width="17.5%"><%= post.rating %></td>
						<th width="17.5%">Location</th>
						<td width="17.5%"><%= post.location %></td>
					</tr>
					<tr>

						<td colspan="4"><%= post.review %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
