<div class="container">
	<div class="row">
		<div class="table-responsive">
			<table width="100%" class="table">
				<tbody>
					<tr>
						<td><%= link_to @post.title, @post %></td>
						<td><%= time_ago_in_words(@post.created_at) %> ago</td>
						<td colspan="4" width="70%"><%= @post.user.email if @post.user %></td>
					</tr>
					<tr>
						<td rowspan="3" colspan="2"><%= image_tag @post.image.url(:small) %></td>
						<th width="17.5%">Rating</th>
						<td width="17.5%"><%= @post.rating %></td>
						<th width="17.5%">SAMPLE</th>
						<td width="17.5%">SAMPLE</td>
					</tr>
					<tr>
						<th width="17.5%">Price</th>
						<td width="17.5%"><%= @post.rating %></td>
						<th width="17.5%">Location</th>
						<td width="17.5%"><%= @post.location %></td>
					</tr>
					<tr>

						<td colspan="4"><%= @post.review %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<%= link_to "Edit", edit_post_path(@post) %> |
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you?"} %> |
<%= link_to "Home", root_path %> 